.banner {
  background-image: url('/img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.banner__title {
  font-family: $font-light;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}
