.contacts {
  padding: 50px 20px;
  text-align: center;
}

.contacts__item-wrap {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
}

.contacts__map {
  width: 320px;
  height: 421px;
  background-image: url('../img/bg-map-mobile@1x.png');
  background-color: #eae6dd;
  position: relative;
  z-index: 1;
  margin: -220px auto 0;
}

.contacts__map-marker {
  width: 36px;
  height: 36px;
  background-image: url('../img/icon-map-marker.svg');
}

.contacts__text {
  font-family: $font-light;
  font-size: 24px;
  line-height: 24px;

  &--address {
    color: $second-color;
  }

}
.contacts__title {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
}

.contacts__link {
  text-decoration: none;
  color: $second-color;
}
