.downloads {
  background-color: #1d2631;
  padding: 28px 20px;
}
.downloads__icon {
  width: 50px;
  height: 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &--ios {
    background-image: url('/img/logo-apple.svg');
  }
  &--android {
    background-image: url('/img/logo-android.svg');
  }
  &--windows {
    background-image: url('/img/logo-microsoft.svg');
  }
}
.downloads__button {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
.downloads__text {
  font-family: $font-light;
  color: #fff;
  line-height: 24px;
}
