.page-header {
  background-color: rgba(#000000, 0.3);
  padding: 20px;
  position: relative;
  margin-bottom: -65px;
  z-index: 1;

  &--open {
    background-color: $main-color;
    padding: 20px 20px 0;
  }
}
