.photo-item {
  background-color: #f2f2f2;
  padding: 25px 20px;
  margin-bottom: 20px;
}
.photo-item__likes-icon {
  width: 13px;
  height: 12px;
  background-image: url('../img/icon-heart.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.photo-item__label {
  background-color: $dop-color;
  font-family: $font-bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  line-height: 24px;
}
.photo-item__name {
  font-family: $font-bold;
  line-height: 24px;
}
.photo-item__date {
  font-family: $font-light;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
}
.photo-item__likes-counter {
  font-size: 12px;
  text-transform: uppercase;
  color: $dop-color;
  line-height: 24px;
}
.photo-item__comment {
  line-height: 24px;
}
