.public {
  background-color: #f2f2f2;
  padding: 20px;
}
.public__submit {
  font-family: $font-bold;
  font-size: 18px;
  color: $dop-color;
  line-height: 18px;
}
.public__cancel {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
}
