.public {
  background-color: #f2f2f2;
  padding: 20px;
}

.public__submit {
  font-family: $font-bold;
  font-size: 18px;
  color: $second-color;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  border: 2px solid $second-color;
  padding: 20px 0;
  border-radius: 35px;
  outline: none;
  width: 320px;
  max-width: 100%;
  cursor: pointer;
}

.public__cancel {
  font-family: $font-bold;
  font-size: 18px;
  color: transparentize($second-color,0.9);
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  border: 2px solid transparentize($second-color,0.9);
  padding: 20px 0;
  border-radius: 35px;
  outline: none;
  width: 320px;
  max-width: 100%;
  cursor: pointer;
}

.public__button-wrap {
  padding: 40px 20px;
  margin: 0 -20px;
  border-top: 1px solid #dddfe0;
}
